@model WorldDomination.Web.SampleMvcApplication.Models.IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    
    <script src="@Url.Content("http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        Home page.<br/>
        <br/>
        Are Custom Errors Enabled? @Model.IsCustomErrorsEnabled<br/>
        @Model.IsCustomErrorsEnabledText<br/><br/>
        
        @Html.ActionLink("Click here to throw an 500 server error.", "Test", "Error")
        <br/>
        <a href="/this-resource-doesnt-exist">Click here to throw a 404 error</a>
        <br/>
        @Html.ActionLink("Click here to try and access a resource that requires you to be Authorized.", "MustBeAuthorized", "Error")
        <br/>
        @Html.ActionLink("Click here to try and unhandled http status.", "WhatchaTalkinBoutWillis", "Error")  (ie. one that hasn't been defined in the web.config).
        <br/>
        @Html.ActionLink("Click here to do an Ajax GET, which throws a 500 error.", "ajax1", "Error", null, new {id = "ajax1", name = "ajax1"})
        <hr/>
        <b>Other non error HTTP Status'</b> (.. to make sure that we're not messing with 'em)</b>
        <br/>
        @Html.ActionLink("Normal HTTP 200 OK", "Ok200", "NonError")
        <br/>
        @Html.ActionLink("Permanent Redirection 301", "PermanentRedirection301", "NonError") - NOTE: This will redirect you to GITHUB.
        <br/>
        @Html.ActionLink("Temporary Redirection 302", "TemporaryRedirection302", "NonError") - NOTE: This will redirect you to GITHUB.
    </div>
    
    
    <script type="text/javascript">

        $(document).ready(function () {
            
            $("#ajax1").click(function (e) {
                e.preventDefault();
                doAjax("/Error/AjaxThrowsAnError");
            });
        });

        function doAjax(someUrl) {
            $.ajax({
                url: someUrl,
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    alert("Success");
                },
                error: function (response, status, message) {
                    var error = jQuery.parseJSON(response.responseText);
                    alert("Failed: " + error.error_message);
                }
            });
        }

    </script>    

</body>
</html>
